<div data-theme="b" class="ui-grid-solo" style="background-color: lightgreen; color: black; padding: 5px 5px; text-shadow: none" data-content-theme="e">
It is possible to add new pages in application at any point of time. 
On click of <strong>Survey</strong>, the application will inject script and template from <strong>/apps/survey</strong> folder and register the page. 
<br><br>Once registered it will navigate to newly added page.
</div>

<ul data-role="listview" data-inset="true">
	<li><a data-app="survey" id="survey">Survey</a></li>
</ul>
<!--
<input type="text" id="appName">
	<a data-role="button" id="addApp">Add Test App</a>
<div data-fragment='appList'></div>
-->