<div data-theme="b" class="ui-grid-solo" style="background-color: lightgreen; color: black; padding: 5px 5px; text-shadow: none" data-content-theme="e">
Usename/password is test@test.com/test
</div>

<form action="#" method="post">
		<fieldset>
			<div data-role="fieldcontain">
				<label for="username">Username:</label>
				<input name="username" id="username" type="email">
			</div>
			<div data-role="fieldcontain">
				<label for="username">Password:</label>
				<input name="password" id="password" type="password">
			</div>
			<div data-role="fieldcontain">
				<input type="submit" value="Login">
			</div>
		</fieldset>
		</form>