<div data-theme="b" class="ui-grid-solo" style="background-color: lightgreen; color: black; padding: 5px 5px; text-shadow: none" data-content-theme="e">
This page uses Fragments. To include a fragment add this <strong>&lt;div data-fragment='abc'&gt;&lt;/div&gt;</strong> in your template. Then define a Fragment with key <strong>abc</strong> in content Block. Each fragment can be refresh independently.
</div>

<div data-fragment='menu'></div>
<a data-role="button" id="refreshMenu">Refresh Menu</a> 

<div data-role="fieldcontain">
	Recently Viewed Items
</div>
<div data-fragment='view'></div>